<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <button class="btn btn-danger" style="color:white; width: 100%;" (click)="onlogout()"> <i class="ti-shift-left m-r-5 m-l-5"></i>
            SignOut</button>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="employerdashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                    class="hide-menu">Dashboard</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="emplocation" aria-expanded="false"><i class="fas fa-map"></i><span
                            class="hide-menu">Emp-Location</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="aboutcompany" aria-expanded="false"><i class="fas fa-building"></i><span
                                    class="hide-menu">AboutCompany</span></a></li>
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="companycorporate" aria-expanded="false"><i class="fas fa-tags"></i><span
                                            class="hide-menu">Company Corporate</span></a></li>
                                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                href="companyprofileinfo" aria-expanded="false"><i class="fas fa-address-card"></i><span
                                                    class="hide-menu">Company Profile</span></a></li>
                                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                        href="searchjobseeker" aria-expanded="false"><i class="fas fa-piggy-bank"></i><span
                                                            class="hide-menu">Search Jobseeker</span></a></li>
                                                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                href="allapplied" aria-expanded="false"><i class="fas fa-fighter-jet"></i><span
                                                                    class="hide-menu">All Applied </span></a></li>
                                                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                        href="favoritechangestateemployer" aria-expanded="false"><i class="fas fa-file"></i><span
                                                                            class="hide-menu">Favorite Change State</span></a></li>
                                                                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                href="employeeaddfavorite" aria-expanded="false"><i class="fas fa-file"></i><span
                                                                                    class="hide-menu">Add Favorite </span></a></li>
                                                                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                href="sendmessageemployer" aria-expanded="false"><i class="far fa-file-alt"></i><span
                                                                                    class="hide-menu">Send Message</span></a></li>
                                                                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                        href="addjobs   " aria-expanded="false"><i class="fas fa-book"></i><span
                                                                                            class="hide-menu">Add Jobs</span></a></li>
                                                                                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                                                                                href="addlookup" aria-expanded="false"><i class="fas fa-search"></i><span
                                                                                                    class="hide-menu">Add LookUp</span></a></li>
    
                                                </ul>

</nav>