
<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <button class="btn btn-danger" style="color:white; width: 100%;" (click)="onlogout()"> <i class="ti-shift-left m-r-5 m-l-5"></i>
            SignOut</button>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="jobseekerdashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                    class="hide-menu">Dashboard</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="jobseekerprofile" aria-expanded="false"><i
                    class="mdi mdi-account-network"></i><span class="hide-menu">Profile</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                      href="jobseekerprofilevideo" aria-expanded="false"><i
                          class="mdi mdi-account-network"></i><span class="hide-menu">ProfileVideo</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="jobseekerskills" aria-expanded="false"><i class="mdi mdi-border-all"></i><span
                    class="hide-menu">Skills</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="jobseekereducation" aria-expanded="false"><i class="mdi mdi-book"></i><span
                    class="hide-menu">Education</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
href="jobseekerdocuments" aria-expanded="false"><i class="mdi mdi-file"></i><span
class="hide-menu">Documents</span></a></li>
     <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
href="jobseekeremployementhistory" aria-expanded="false"><i class="mdi mdi-lightbulb"></i><span
class="hide-menu">Employement History</span></a></li>
 <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
href="searchcompanies" aria-expanded="false"><i class="fas fa-search"></i><span
class="hide-menu">Search Company</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
href="searchpeople" aria-expanded="false"><i class="fas fa-filter"></i><span
class="hide-menu">Search People</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
 href="applyforjobs" aria-expanded="false"><i class="fab fa-phoenix-framework"></i><span
class="hide-menu">Apply-Jobs</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
    href="jobseekerjobs" aria-expanded="false"><i class="fab fa-autoprefixer"></i><span
   class="hide-menu">Jobs</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
  href="jobseekerfavorite" aria-expanded="false"><i class="fab fa-superpowers"></i><span
class="hide-menu">Favorite</span></a></li>
  <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
  href="favoritechangestate" aria-expanded="false"><i class="fas fa-exchange-alt"></i><span
class="hide-menu">Update Favorite State</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
  href="favoritechat" aria-expanded="false"><i class="fab fa-rocketchat"></i><span
  class="hide-menu">JobseekerChat</span></a></li>
    </ul>

</nav>